.container_viewTransaction {
    width: 100%;
    padding: 20px;
}

.transaction_card {
    background: linear-gradient(51.64deg, rgba(255, 255, 255, 0) 34.2%, rgba(255, 255, 255, 0.2) 97.35%, rgba(255, 255, 255, 0) 160.66%), rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 9px #e1ecff, inset 0 0 15px rgba(255, 255, 255, .35);
    border-radius: 5px;
    text-align: center;
    padding: 25px;
    margin-bottom: 25px;
}