.App {
  display: grid;
  grid-template-columns: auto 1fr;
  background: url("./assets/img/crypto-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}
NavLink:hover {
  color: #234ce3;
}
.Shadow {
  box-shadow: 0 4px 9px #e1ecff, inset 0 0 15px rgba(255, 255, 255, 0.35);
}
