.App {
  display: grid;
  grid-template-columns: auto 1fr;
  background: url("./assets/img/crypto-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
}

.container_search {
  width: 100%;
  padding: 30px;
}

@media screen and (max-width: 480px) {
  .container_search {
    padding: 10px;
  }

  .e1 {
    display: block;
  }
}

.transaction_card {
  background: linear-gradient(51.64deg,
      rgba(255, 255, 255, 0) 34.2%,
      rgba(255, 255, 255, 0.2) 97.35%,
      rgba(255, 255, 255, 0) 160.66%),
    rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 9px #e1ecff, inset 0 0 15px rgba(255, 255, 255, 0.35);
  border-radius: 5px;
}

.container_market {
  width: 100%;
  height: 95%;
  padding: 30px;
}

.img1 {
  filter: invert(1) brightness(100);
}

.img1:hover {
  filter: invert(1) brightness(100);
}

.recharts-dot {
  display: none;
}


.box_login {
  background: linear-gradient(51.64deg, rgba(255, 255, 255, 0) 34.2%, rgba(255, 255, 255, 0.2) 97.35%, rgba(255, 255, 255, 0) 160.66%), rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 9px #e1ecff, inset 0 0 15px rgba(255, 255, 255, .35);
  margin: 0 auto;
  padding: 30px;
  border-radius: 5px;
  margin-top: 20px !important;
}

.recharts-surface:hover {
  .recharts-dot {
    display: block !important;
  }
}

.card_profile {
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
  background: linear-gradient(51.64deg, rgba(255, 255, 255, 0) 34.2%, rgba(255, 255, 255, 0.2) 97.35%, rgba(255, 255, 255, 0) 160.66%), rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 9px #e1ecff, inset 0 0 15px rgb(255 255 255/35%);
  border-radius: 5px;
  margin-top: 20px;
}

.buttons_profile {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
  --bs-nav-tabs-border-width: 1px;
  --bs-nav-tabs-border-color: #dee2e6;
  --bs-nav-tabs-border-radius: 0.375rem;
  --bs-nav-tabs-link-hover-border-color: #e9ecef #e9ecef #dee2e6;
  --bs-nav-tabs-link-active-color: #495057;
  --bs-nav-tabs-link-active-bg: #fff;
  --bs-nav-tabs-link-active-border-color: #dee2e6 #dee2e6 #fff;
  border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
}

.container2 {
  background: linear-gradient(51.64deg,
      rgba(255, 255, 255, 0) 34.2%,
      rgba(255, 255, 255, 0.2) 97.35%,
      rgba(255, 255, 255, 0) 160.66%),
    rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 9px #e1ecff, inset 0 0 15px rgba(255, 255, 255, 0.35);
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 15px;
}

.ssss {
  background: linear-gradient(51.64deg,
      rgba(255, 255, 255, 0) 34.2%,
      rgba(255, 255, 255, 0.2) 97.35%,
      rgba(255, 255, 255, 0) 160.66%),
    rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 9px #e1ecff, inset 0 0 15px rgb(255 255 255/35%);
  border-radius: 5px;
}

.icon1 {
  display: none;
}

.ssss:hover {
  transition: all 10s !important;

  .icon1 {
    display: flex !important;
    transition: all 10s !important;
    align-items: center;
    color: red;
    z-index: 1000000;
  }
}

.container_single {
  width: 100%;
  height: 100%;
  padding: 30px;
}

NavLink:hover {
  color: #234ce3;
}

.Shadow {
  box-shadow: 0 4px 9px #e1ecff, inset 0 0 15px rgba(255, 255, 255, 0.35);
}